.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.month{
  position: relative;
  left:250px;
  width: 250px;
  background: #fff;
  color: #292929;
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
  border: 0;
  outline: 0;
  padding: 22px 18px;

}
.date{
  position: relative;
  left:-40px;
  top:70px;
  width: 250px;
  background: #fff;
  color: #292929;
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
  border: 0;
  outline: 0;
  padding: 22px 18px;
}
.year{
  position: relative;
  left:-320px;
  top:140px;
  width: 250px;
  background: #fff;
  color: #292929;
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
  border: 0;
  outline: 0;
  padding: 22px 18px;
}
.btn{
  position: relative;
  top:220px;
  left:-480px;
  font-size: 22px;
      text-align: center;
      cursor: pointer;
      outline: none;
      color:#00d8ff;
      background-color: rgb(0, 0, 0);
      border: 1px;
      border-radius: 3px;
      box-shadow: 0 2px #999;
    }

    .btn:active {
      background-color: #a70909;
      box-shadow: 0 5px #666;
      color:white;
      transform: translateY(4px);
    }
.msg{
  position: relative;
  top:240px;
  left:-50px;
}
.genericMsg{
position: relative;
top:220px;
left:-100px;  
}